numpy==1.23.5
scipy==1.10.1
torch==2.0.0
transformers==4.28.1
accelerate==0.20.3
datasets==2.18.0
aoa-pytorch
gdown
seaborn==0.12.2
matplotlib==3.7.1
pandas==1.5.3
paddlepaddle
paddleocr==2.10.0
segmentation_models==1.0.1
simple-lama-inpainting
catboost
xgboost
lightgbm
optuna
scikit-learn 